html { font-size: 2.0vw; }

@media all and (min-width:1000px) {
  html { font-size: 20px; }
}

@media all and (max-width:520px) {
  html{ font-size: 14px; }
}

html {
  font-family: sans-serif;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

header[role=banner],
nav[role=navigation],
body > main,
footer[role=contentinfo] {
  margin: 2rem auto;
  max-width: 30rem;
  padding: 0;
}

header[role=banner] {
  margin-bottom: 0;
  margin-top: 3rem;
  text-align: center;
}

header[role=banner] h1 {
  font-size: 200%;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 1rem;
}

header[role=banner] img {
  width: 100%;
}

nav[role=navigation],
footer[role=contentinfo] {
  background: black;
  border-bottom: 1px solid black;
  color: white;
  margin: 0 auto;
  padding: 0.5rem 0;
  text-align: center;
}

nav[role=navigation] ol,
footer[role=contentinfo] ol {
  margin: 0;
  padding: 0;
}

nav[role=navigation] a[href],
footer[role=contentinfo] a[href] {
  color: white;
  display: inline-block;
  padding: 0.25rem 0.25rem;
  text-transform: lowercase;
}

nav[role=navigation] a[href]:hover,
footer[role=contentinfo] a[href]:hover {
  background: white;
  color: black;
  text-decoration: none;
}

body > main {
  margin-top: 1.75rem;
  text-align: left;
}

footer[role=contentinfo] {
  border-top: 1px solid black;
  margin-top: 2.5rem;
  margin-bottom: 3rem;
  text-align: center;
}

a[href] {
  color: #3344dd;
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}

a[href]:hover,
a[href]:focus,
a[href]:active {
  color: #bb1122;
}

a[href]:visited {
  color: #884488;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
  margin-bottom: 0;
  margin-top: 2.5rem;
}

h1 {
  font-size: 175%;
}

h2 {
  font-size: 150%;
}

nav > ol,
footer > ol {
  padding: 0;
  list-style: none;
}

nav > ol > li,
footer > ol > li {
  display: inline;
  padding-right: 1rem;
}

nav > ol > li:last-of-type:after,
footer > ol > li:last-of-type:after {
  content: none;
}

blockquote {
  border-left: 2px solid #aaa;
  margin-left: 0;
  padding-left: 1rem;
}

